<h1> Client List </h1>
<div id ='client' style="padding-left:250px;">
<table style ="text-align:left;font-size:13px;">
 <tr>
  <th>Serial Number</th>
  <th> Client Name </th>
 </tr>
<tr>
  <td>1</td>
  <td>ACC CEMENT LTD.</td>
</tr>
<tr>
  <td>2</td>
  <td>ASHAR REALITY PVT LTD</td>
</tr>
<tr>
 <td>3</td>
 <td>ASHWINI ENGINEERING CONSTRUCTION</td>
 </tr>
<tr>
<td>4</td>
 <td>BLUE STAR</td>
 </tr>
<tr>
<td>5</td>
 <td>GARUDA CRANE PVT LTD.</td>
 </tr>
<tr>
<td>6</td>
 <td>GLAXO SMITHKING</td>
 </tr>
<tr>
<td>7</td>
 <td>HE-TEX EQUIPMENT & ENG. WORKS</td>
 </tr>
<tr>
<td>8</td>
 <td>KAPSTONE CONSTRUCTION PVT LTD</td>
 </tr>
<tr>
<td>9</td>
 <td>LECHLER INDIA PVT LTD.</td>
 </tr>
<tr>
<td>10</td>
 <td>LODHA DEVELOPERS LTD.</td>
 </tr>
<tr>
<td>11</td>
 <td>MAN INFRA CONSTRUCTION LTD.</td>
 </tr>
<tr>
<td>12</td>
 <td>MANAJ INFRACONSTRUCTION LTD.</td>
 </tr>
<tr>
<td>13</td>
<td>MODERN INDUSTRIAL EQUIPMENT PVT LTD</td>
</tr>
<tr>
<td>14</td>
<td>MORGAN COSTRUCTION CO. (I) PVT LTD.</td>
</tr>
<tr>
<td>15</td>
 <td>MUSCOVITE GROUP</td>
 </tr>
<tr>
<td>16</td>
<td>NILKANT FABRICATORS PVT LTD</td>
</tr>
<tr>
<td>17</td>
<td>OMKAR HEAVY ENG. LTD.</td>
</tr>
<tr>
<td>18</td>
<td>POLE STAR COIL PVT LTD</td>
</tr>
<tr>
<td>19</td>
<td>PRADMAN ENGINEERING SERVICES PVT LTD.</td>
</tr>
<tr>
<td>20</td>
<td>RAMKY INFRASTRUCTURE LTD.</td>
</tr>
<tr>
<td>21</td>
<td>S.M. DEVELOPERS</td>
</tr>
<tr>
<td>22</td>
<td>SECO WARWICK ALLIED PVT LTD.</td>
</tr>
<tr>
<td>23</td>
<td>SEIMENS LTD.</td>
</tr>
<tr>
<td>24</td>
<td>TOSCANO INFRA SRTUCTURE PVT LTD.</td>
</tr>
<tr>
<td>25</td>
<td>ULTRA TECH CEMENT LTD.</td>
</tr>
<tr>
<td>26</td>
<td>VOLTAS LIMITED</td>
</tr>
</table>
