  <style>
    #office-address {
        color:#CC0000;
        padding:20px;
        font-size:15px;
        display: inline-block;
        background-color: silver;
        border-radius:4px;
        width:49%;
    }

    #depo-address {
        color:#CC0099;
        padding:20px;
        display: inline-block;
        background-color: silver;
        border-radius:4px;
        width:49%;
    }
  </style>

<%= gmaps(
  :markers => { :data => @json },
  :map_options => { :auto_adjust => true, # :auto_adjust map to center on location
  :auto_zoom => false, # :auto_zoom defaults to full zoom in, set to false to utilize :zoom
  :zoom => 15 }	# :zoom 0 is fully zoomed out (world view), 21 is fully zoomed in (street view)
) %>

<br>
<!--<link href='http://fonts.googleapis.com/css?family=Eagle+Lake' rel='stylesheet' type='text/css'>-->
<% @contacts.each do |contact| %>
<b>

  <div id="office-address">
    <h3><u>Office address :</u></h3>
    <p style ='line-height: 25px;'>
      Opp. Oswal Park, Near Thane bharat Sahakari Bank,Pokhran Road no. 2,  majiwada junction,Thane -400 601.
    </p>
  </div>

 <br><br>
 <div id ="office-address">
 <p><u>Contact Us On :</u><br><br>
 Email | vidhatacranethae@yahoo.co.in<br>
   <h3>Mob : 9820006376 | 9820857926<hr>
   Office : 21736548 <hr>
   Telefax : 21736547</h3>
 </p>
<% end %>
</div>
