<style>
 #customer_feedback {
              background :#F8F8F8 ;
              padding-top:40px;
              padding-left:300px;
              padding-bottom :50px;
              }
</style>
<div id ="customer_feedback">
 <%= render 'form' %>
</div>
