<h1> About Us </h1>
<p style ="line-height:25px;font-size:13px;">Vidhata crane service is established in 2001. a firm in the business of letting cranes on hire to various industries and to different projects sites of Private Companies, Semi-Govt. (undertakings) and Govt. Departments, with a best knowledgeble of experienced operators and work-hands.

We are a leading crane hiring company with a fleet of 10 cranes of various manufacturers, capacities ranging from a 12mt crane to a 60mt crane with required extension boom lengths to suit almost any type of job. We have a backing of 10 years of experience in the field to carry out jobs with efficacy.

We have for your jobs Mobile Cranes, Telescopic Cranes, Hydro-cranes Crawler Cranes, Fork lift on monthly as well as daily basis or on hourly Rent as and whenever required </p>
<br><br>

<h1> List of cranes we have:</h1>

<table style ="font-size:13px;">
<tr>
    <th>Detail Of Crane</th>
    <th>Capicity</th>
    <th>Main Broom</th>
    <th>Fly Job</th>
</tr>
<tr>
    <td>P&H</td>
    <td>30 Ton</td>
    <td>98'FT</td>
    <td>33'</td>
</tr>
<tr>
    <td>GROVE TMS-475</td>
    <td>50 Ton</td>
    <td>110'FT</td>
    <td>32'</td>
</tr>
<tr>
    <td>P&H T-600XL</td>
    <td>60 TON</td>
    <td>115' FT</td>
    <td>66'</td>
</tr>
<tr>
    <td>DEMAG AC 265</td>
    <td>100 TON</td>
    <td>115' FT</td>
    <td>56'</td>
</tr>
<tr>
    <td>DEMAG AC 435</td>
    <td>150 TON</td>
    <td>165' FT</td>
    <td>56'</td>
</tr>
</table>
