<style>
 #multipleimages{background :transparent;width:auto;padding:20px;border:0px solid gray;border-radius:4px;}
 #thumb{
   list-style: none;
   border-radius: 10px;
   padding: 0 20px;
   display: inline-table;
   background: #e0e0e0;
   padding:10px;}
</style>

<div id="multipleimages">
  <% @products.each do |product| %>
    <div id="thumb">
      <h3><%= product.name %></h3>
        <%= link_to image_tag(product.photo.url(:medium)), product %>
    </div>
  <% end %>
</div>
