
<p style ="font-size:30px;color:#080808">
  <%= @product.name %> |
  <%= link_to 'Back', products_path %><br><br><br>
</p>

<p style ="margin-left:100px">
  <%= image_tag @product.photo.url(:large) %>
</p><br><br><br>

<p style ="color:#CC0099">
  <%= @product.detail %>
</p>
